@import 'nib'
@import 'modules/colors'

// Core variables and mixins
@import 'bootstrap/variables';
@import 'bootstrap/mixins';

// Reset and dependencies
@import 'bootstrap/normalize'

// Core CSS
@import "bootstrap/scaffolding"
@import "bootstrap/utilities"
@import "bootstrap/type"
// @import "code"
@import "bootstrap/grid"
@import "bootstrap/tables"
@import "bootstrap/forms"
@import "bootstrap/buttons"

// Components
// @import "component-animations"
// @import "dropdowns"
// @import "button-groups"
// @import "input-groups"
// @import "navs"
// @import "navbar"
// @import "breadcrumbs"
// @import "pagination"
@import "bootstrap/pager"
// @import "labels"
// @import "badges"
// @import "jumbotron"
// @import "thumbnails"
@import "bootstrap/alerts"
@import "bootstrap/progress-bars"
// @import "media"
// @import "list-group"
// @import "panels"
// @import "responsive-embed"
// @import "wells"
@import "bootstrap/close"

html
  height 100%

body
  margin 0
  padding 0
  font-family Courier, monospace
  color $c_darkblue

a
  color $c_red

  &:hover
    color $c_red

th
  text-align left

.header
  background-color $c_turquoise
  height 10px

.footer
  height 5em

  /p
    text-align center
    line-height 5em

.container
  h1, h2
    text-align: center

  h2
    font-variant small-caps

  .option
    width 50%
    float left
    text-align center
    margin 4em 0
    img
      width 90%

  .pictures-1
    .option
      width 66%
      float none
      margin 0 17%

  .btn-vote
    width 90%
    margin 1em 0
    background-color $c_white
    border-radius 0
    color $c_darkblue
    font-size 1.5em
    border: 1px dotted $c_darkblue
    font-variant small-caps

    &:hover
      background-color $c_red
      color #fff
      border 1px solid $c_red

    &:active
      -webkit-box-shadow none
      -moz-box-shadow none
      box-shadow none

    &:focus
      outline none

  .ranking
    margin 0 5%
    border-radius 0
    height 2em
    box-shadow none

    .votes
      border-radius 0
      line-height 2em
      font-size 1em
      box-shadow none
      background-color $c_turquoise

  .pager-align
    padding: 0 2.5%

// in
@import 'pages/index'
@import 'pages/panel'
