<div class="container">
  <h1>12/10/2014</h1>
  <h2>i love green stuff</h2>

  <div class="option">
    <img src="http://photos-d.ak.instagram.com/hphotos-ak-xfa1/10610996_1493254900960987_701261076_n.jpg" alt="Photo Ana">
    <button type="button" class="btn btn-vote">vote for bumbu</button>
    <div class="progress ranking">
      <div class="progress-bar votes" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
        32 VOTES
      </div>
    </div>
  </div>

  <div class="option">
    <img src="http://photos-a.ak.instagram.com/hphotos-ak-xaf1/10632337_1559737164247864_1595891101_n.jpg" alt="Photo Bumbu">
    <button type="button" class="btn btn-vote">vote for ana</button>
    <div class="progress ranking">
      <div class="progress-bar votes" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
        22 VOTES
      </div>
    </div>
  </div>

  <ul class="pager pager-align">
    <li class="previous"><a href="#">&larr; Older</a></li>
    <li class="next"><a href="#">Newer &rarr;</a></li>
  </ul>

</div>
