<div class="container">
  <h1>{{date_format post.date}}</h1>{{post.title}}
  {{#if post.title}}<h2>{{post.title}}</h2>{{/if}}

  {{> picture picture1}}
  {{> picture picture2}}

  <ul class="pager pager-align">
    <li class="previous"><a href="#">&larr; Older</a></li>
    <li class="next"><a href="#">Newer &rarr;</a></li>
  </ul>

</div>
