{{#if message}}{{message}}{{/if}}

<form action="/auth/local" method="post">
  <input type="email" id="email" name="email">
  <input type="password" id="password" name="password">
  <button type="submit">Submit</button>
</form>
